@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
  height: 3000px;
  font-size: 62.5;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

input:focus,
button:focus {
  outline: none;
}

.common__title {
  height: 170px;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common__title p {
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
}

div {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  line-height: 1.15;
}
a {
  text-decoration: none;
}