@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Source+Sans+Pro&display=swap');

html {
  height: 3000px;
  font-size: 62.5;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

input:focus,
button:focus {
  outline: none;
}

.common__title {
  height: 170px;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common__title p {
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
}

div {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  line-height: 1.15;
}

@media screen and (max-width: 992px) {
  div {
    overflow: hidden;
  }
}